* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(96, 209, 165);
    color: white;
    width: 100%;
    min-height: 100vh;
}

header {
    background-color: black;
    width: 100%;
    margin-bottom: 1rem;
}

main {
    text-align: center;
}

footer {
    background-color: black;
}

div {
    margin: 0.5rem;
}

.userInput {
    display: flex;
    width: 100%;
    text-align: center;
}

.input-1 {
    display: grid;
    justify-content: center;
    /* justify-content: center; */
    width: 50%;
    border-right: 1px dashed white;
    padding: 2rem
}

.input-2 {
    display: block;
    justify-content: center;
    width: 50%;
    text-align: center;
    padding: 2rem;
}

.button {
    width: 30%;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

p {
    text-align: center;
}

label {
    margin: 0.2rem;
    /* padding: 1rem; */
}

fieldset {
    border: none;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-bottom: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
}

table, td {
    border: 1px solid black;
}

.head {
    border: 3px solid black;
    outline-offset: -2px;
}

.dataTable {
    display: grid;
    grid-template-rows: auto auto;
    /* align-content: center; */
    width: 100%;
    margin: 1rem;
}

table {
    margin: 0.5rem auto;
    border-collapse: collapse;
    width: 80%;
}

